@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#root{
	display: flex;
	flex-direction: column;
} 

.hero{
	background-image: url("../public/assets/images/dduc.png");
}

.sec-container b{
	@apply text-4xl 
}
.sec-container strong{
	@apply text-4xl font-normal;
	
}